<footer>
  <p><b>Made with &#9829;</b> &copy; Two Words 2015</p>
</footer>

<div id="dialog">
  <div class="modal fade" id="dialog-login">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Log in</h4>
        </div>
        <div class="modal-body text-center">
          <p><button type='button' class='btn btn-lg btn-default'><i class="fa fa-facebook-square"></i> Log in with Facebook</button></p>
          <p><button type='button' class='btn btn-lg btn-default'><i class="fa fa-twitter-square"></i> Log in with Twitter</button></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/evda.min.js"></script>

<script src="/js/socket.io/socket.io.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
