<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/' class="navbar-brand"><i class="fa fa-hand-peace-o"></i> Two Words</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%- page == 'find' ? 'active' : '' %>" id='header-find'><a href="/find"><b><i class="fa fa-search"></i> Find It</b></span></a></li>
        <li class="<%- page == 'found' ? 'active' : '' %>" id='header-found'><a href="/found"><i class="fa fa-bullhorn"></i> Found it</a></li>
        <li class="<%- page == 'pro' ? 'active' : '' %>"><a href="/pro"><i class="fa fa-money"></i> Go Pro</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#app">Get The App</a></li>
        <li><a data-toggle="modal" data-target="#dialog-login">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>
