.btn-first { font-size: 150% }
#found-container { margin-bottom: 1em }
/*#result-container, */
#no-gps, #found-container, #discover-container { display: none }
footer { padding: 30px 0px; opacity: 0.5;text-align: center; margin: 0 auto; }
#image-button { overflow: hidden; position:relative }
#image-upload { z-index: 100;font-size: 100px;opacity:0;overflow:visible; position:absolute;width:100%;height:100px}
#discover-suggestions .label { display:inline-block; margin-bottom: 0.2em }
.image-container { position: relative; width: 100% ;overflow: hidden}
.image-container img { width: 100% }
.img-content { position: absolute }
.name, .result .panel-heading { font-family: 'Chau Philomene One', sans-serif; font-size: 24px }
.result h2 { margin: 0 }
.name { color: #444 }
.metric { 
color: #ddd;
font-size: 24px;
display: inline-block; position: relative; }
.metric .fg-stars { 
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  color: gold;
  overflow: hidden;
  white-space: nowrap;
}
a{cursor:pointer}
.content { margin-bottom: 2em }
.content img {box-shadow: 0 0 1px 1px black}
.header { margin-top: 3em;margin-bottom: 3em }
.buttons {
  margin-left: -1em;
}
.buttons div {
  width: 12em;
  display: inline-block;
}
.buttons i {
  display: inline-block;
  width: 1em;
}
.social {
  font-size: 18px;
  margin-left: 10px;
}
.social a {
  font-weight: normal;
  display: inline-block; 
  text-align: center;
  width: 1.5em;
  border-radius: 4px;
  border: 1px solid rgba(216,216,255,0.9);
  margin: 0.35em 0.20em; 
}
.social-post {
  text-align:right;
  padding-right: 0;
}
.post-lhs {
  padding-left: 0;
}
.fa-blank {
  opacity: 0;
}
#post-controls {
  margin-top: 0.5em;
}
#post-list {
  background: none ;
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
}
#plan-container {
  padding: 5em;
}
#plan {
  text-align: right;
  overflow: hidden;
  position: relative;
  padding-left: 0em;
}
#plan .well {
}
#plan .bg { position: absolute;
  width: 100%;
  z-index: -1;
  top:0;left:0;
}

#service-book {
  display:inline-block;
}
