<Style>
.full-view h2 {
  font-weight: 800;
  font-size: 40px;
  color: rgba(255,255,255,0.60);
  font-family: 'Khula', sans-serif;
}
body {
  background: #a3a3a4;
}
footer {
  color:#fff
}
footer a {
  text-decoration: underline;
  color: white 
}
.navbar {
  margin-bottom: 0;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.solid { 
  text-align: left;
  background: #e4e4e4;
}
.solid h1 {
  color: rgba(0,0,0,0.5);
  text-shadow: 0 0 0;
}
h3 {
  font-weight: 500;
  font-size: 30px;
  color: rgba(255,255,255,0.80);
  font-family: 'Khula', sans-serif;
  margin: 0;
  line-height: 1.2em;
}
</style>
<img class='full-image' src='images/contact.jpg'>
<div class='full-view' >
  <div class='full-view-container'>
    <h1 class='light'>2words</h1><h3>2343 ocean view ave<br>los angeles, ca 90057</h3></h1><h2>
    657 210-1337<br>info@2words.io</h2>
  </div>
</div>
