<form class="form-horizontal" id="found-form">
  <div class="form-group">
    <div class="col-sm-12">
      <h2>What'd you find?</h2>
    </div>
    <div class="input-group col-sm-12">
      <span id='image-button' class="input-group-btn input-group-lg">
        <input type="file" id="image-upload" accept=".png,.jpg,.jpeg">
        <button class="btn btn-default btn-add btn-lg" type="button">
          <span class="glyphicon glyphicon-camera"></span>
        </button>
      </span>
      <input type="text" class="input-lg form-control" id="found-input" placeholder="Say it in two words or less!">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" class="btn btn-block btn-success btn-lg">I Found It!</button>
    </div>
  </div>
</form>
<div id='post-list' class='well'>
  <div class='row'>
    <div class='col-md-1'>
    <img src='mockup/square_150.png' class="img-square img-thumbnail">  
    </div>
    <div class='col-md-11'>
      <p><i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i> <i class="fa fa-map-marker"></i> | Sept 20, 2015</p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
      </p>
      <p>
      <button class='btn btn-default'><i class="fa fa-bar-chart"></i> stats</button> <button class='btn btn-default'><i class="fa fa-retweet"></i> repost</button>
      </p>
    </div>
  </div>
</div>

