<div class='row header'>
  <div class="col-md-4 text-center"><img src='mockup/square_150.png' class="img-circle img-thumbnail"></div>
  <div class="col-md-8">
    <h2>Alice Bob</h2>
  </div>
  <div class="col-md-4 buttons">
    <div>
      <button type='button' class='btn btn-lg btn-link'><i class="fa fa-mobile"></i> Contact</button>
      <button type="button" class="btn btn-lg btn-link"><i class="fa fa-location-arrow"></i> Los Angeles, CA</button>
    </div>
  </div>
</div>

<div class='row content'>
  <div class="col-md-4">
    <img src='mockup/16x9_gray.png' class="img-thumbnail">
  </div>
  <div class="col-md-4">
    <img src='mockup/16x9_gray.png' class="img-thumbnail">
  </div>
  <div class="col-md-4">
    <img src='mockup/16x9_gray.png' class="img-thumbnail">
  </div>
</div>
<div class='row content'>
  <div class="col-md-4">
    <img src='mockup/16x9_gray.png' class="img-thumbnail">
  </div>
  <div class="col-md-4">
    <img src='mockup/16x9_gray.png' class="img-thumbnail">
  </div>
  <div class="col-md-4">
    <img src='mockup/16x9_gray.png' class="img-thumbnail">
  </div>
</div>
