<link href='https://fonts.googleapis.com/css?family=Khula:400,800' rel='stylesheet' type='text/css'>
<Style>
body {
background: #a3a3a4;
}
footer {
color:#fff}
footer a {
text-decoration: underline;
color: white }
.navbar {
  margin-bottom: 0;
}
.container {
margin: 0;
padding: 0;
width: 100%;
}
.full-view h1 {
font-family: 'Khula', sans-serif;
color: rgba(255,255,255,0.98);
font-weight: 800;
font-size: 50px;
text-shadow:
  -1px -1px 0 rgba(0,0,150,0.9),
  1px -1px 0 rgba(0,0,150,0.9),
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.solid { 
text-align: left;
background: #e4e4e4;
}
.solid h1 {
color: rgba(0,0,0,0.5);
text-shadow: 0 0 0;
}
</style>
<div class='full-view' >
  <img class='bg' src='images/city.jpg'>
  <div class='full-view-container'>
    <h1>What is<br>happening<br>around you,<br>right now?</h1>
  </div>
</div>
<div class='full-view solid' >
  <div class='full-view-container'>
    <h1>What opportunities<br>are you missing?</h1>
  </div>
</div>
<div class='full-view' >
  <img class='bg' src='images/cafe.jpg'>
  <div class='full-view-container'>
    <h1>
    Share It<br>
    Book It<br>
    Grow It<br>
    Find It<br>
    In two words<br>
    Running at the speed of you.
    </h1>
  </div>
</div>
<div class='full-view solid' >
  <div class='full-view-container'>
    <h2>Over the web and over the phone in iTunes and the Google Play Store</h2><h1> The Next Big Thing Could Be You.</h1>
  </div>
</div>
