<Style>
body {
  background: #a3a3a4;
}
footer {
  color:#fff
}
footer a {
  text-decoration: underline;
  color: white 
}
.navbar {
  margin-bottom: 0;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.solid { 
  text-align: left;
  background: #e4e4e4;
}
h2 {
  margin-top: 2em
}
.solid h1 {
  color: rgba(0,0,0,0.5);
  text-shadow: 0 0 0;
}
</style>
<div class='full-view' >
  <img class='bg' src='images/work.jpg'>
  <div class='full-view-container'>
    <h1 class='light'>working for<br>2words is a<br>somewhat<br>foolish<br>idea</h1>
  </div>
</div>
<div class='full-view solid' >
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-1'>
        <h2>There may not be a lot of money</h2>
        <p class='lead'>We try to create ways for businesses to maximize their capitalization through risk reduction.  This sound like a potential to make a lot of money --- or, perhaps, just a potential to provide marginal value.</p>
        <p class='lead'>In the end, the marginal value perpetuates the passion and purpose for a project more then a commodity paycheck for indifferent programming.  There's plenty of $140k jobs for soulless hacks, this isn't one of them.</p>
        <h2>Comitted to a low barrier to entry</h2>
        <p class='lead'>Our ideal customer has very low capitalization and is relatively unknown - a long-tail on the business spectrum.  They may not have any money at all. That is fine. We want the best businesses and the best products to find the best markets.  That's really it.</p>
        <p class='lead'>That doesn't necessarily mean a great profit - it all depends on what customer base you are capitalizing on.  We want 2words to be just as effective for those with, and those without money - which as you know, is becoming a larger and larger underserved group.</p>
        <h2>Not a venture backed startup</h2>
        <p class='lead'>For VC-backed startups, there's an eventual time when there needs to be an increase in revenue to justify the influx of capital.  All too often, this ends up perverting a long-tail business model to become solidly mainstream.  The company pivots away from the loyal competent fan base in order to try to capture a larger, incompetent market.</p>
        <p class='lead'>This leads to the downfall of otherwise great technology.</p>
        <h2>Build great things. Change people's lives</h2>
        <p class='lead'>That's the objective here.  We teeter on the open-source model.  If there's revenue coming in, it gets shared equally according to the level of effort on the project.</p>
        <p class='lead'>Build a system, change lives, share the profit.</p>
      </div>
    </div>
    <div class='well'>
      <div class='col-md-8 col-md-offset-1' style='float:none'>
        <h1>What we are looking for</h1>
        <p class='lead'>Responsible, independent, financially secure, experienced people - preferably with large savings or passive MRR.</p>
        <h3>Applying is easy</h3>
        <ol class='lead'>
          <li>Send an email to chris @ 2words.io. 
          <li>You'll get access to the source and a bug.
          <li>Log your hours, close the bug.
          <li>If that goes well, we continue.
        </ol>
        <p class='lead'><b>What do you think?</b> This may be foolish - or it may be the best decision you ever made.</p>
      </div>
    </div>
  </div>
</div>
