<h1>New Campaign Post</h1>
<div class='row header'>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">When</label>
    <label class="radio-inline">
      <input type="radio" name="when" value="now"> now 
    </label>
    <label class="radio-inline">
      <input type="radio" name="when" value="later"> later
    </label>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Repeat</label>
    <label class="radio-inline">
      <input type="radio" name="repeat" value="now"> yes 
    </label>
    <label class="radio-inline">
      <input type="radio" name="repeat" value="later"> never 
    </label>
  </div>

  <div class='well row'>
    <div class='col-md-1'>
    <img src='mockup/square_150.png' class="img-square img-thumbnail">  
    </div>

    <div class='col-md-11'>
      <label for="copy">Compose something new or use an existing campaign?</label>
      <select class="form-control">
        <option>LACMA</option>
        <option>Glendale</option>
        <option>Art Walk</option>
      </select>

      <textarea name="copy" class="form-control" rows="3">
      blahblahblah
      </textarea>

      <div id='post-controls'>
        <div class='post-lhs col-md-6'>
          <button class='btn btn-link btn-lg'><i class="fa fa-camera"></i> Add Photos</button>
          <button class='btn btn-link btn-lg'><i class="fa fa-map-marker"></i> Use Current Location</button>
        </div>

        <div class='social-post col-md-6'>
          <button class='btn btn-lg btn-default'><i class="fa fa-twitter"></i></button>
          <button class='btn btn-lg btn-default'><i class="fa fa-facebook"></i></button>
          <button class='btn btn-lg btn-default'><i class="fa fa-instagram"></i></button>
          <button class='btn btn-primary btn-lg'>Post</button>
        </div>
      </div>
    </div>
  </div>

</div>
