<h1>New Campaign Post</h1>
<div class='row header'>

  <div class='well row'>
    <div class='col-md-1'>
    <img src='mockup/square_150.png' class="img-square img-thumbnail">  
    </div>

    <div class='col-md-11'>

      <textarea name="copy" class="form-control" rows="3">
      blahblahblah
      </textarea>

      <div id='post-controls'>
        <div class='post-lhs col-md-6'>
          <button class='btn btn-link btn-lg'><i class="fa fa-camera"></i> Add Photos</button>
          <button class='btn btn-link btn-lg'><i class="fa fa-map-marker"></i> Use Current Location</button>
        </div>

        <div class='social-post col-md-6'>
          <button title='post on twitter' class='btn btn-lg btn-default'><i class="fa fa-twitter"></i></button>
          <button title='post on facebook' class='btn btn-lg btn-default'><i class="fa fa-facebook"></i></button>
          <button title='post on instagram' class='btn btn-lg btn-default'><i class="fa fa-instagram"></i></button>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg">Post</button>
            <button type="button" class="btn btn-link btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Now</a></li>
              <li><a href="#">Later</a></li>
              <li><a href="#">Multiple Times</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
