TODO: add mock screen shots
<div id="ep-pro" class='endpoint'>
  <p>Do you run a mobile business?  Are you looking to increase your sales?</p>

  <h2>Know your customers.</h2>
    <p>Be notified when people search for your product, where they are, and opening a dialog with them.</p>
    <p>Know what else people search for when they search your product so you know how to situate yourself in the marketplace.</p>
    <p>Notify nearby customers who are interested in your product where you are.</p>
    <p>Communicate directly to your customers.</p>

  <h2>Know your competition.</h2>
    <p>A dashboard with heatmaps telling you when and where people historically want what you sell.</p>
    <p>See whether they found what they were looking for and how happy they were with it.</p>
    <p>Know where there's an opening, and where there's a market saturation.</p>

  <h2>Know your business.</h2>
    <p>Get estimates on the expected return, risk and time to actualize so you know when its time to move on.</p>
    <p>See the market analytics on greener pastures and know where the best ones are.</p>
    <p>Find out about the price sensitivity of your customers so you know how your sales will be impacted by your pricing decisions</p>
  <div class='row'>
   <div class="col-md-12">
     <div class="panel panel-default">
       <div class="panel-heading"><h3>DeepInsight + CustomerDragnet + $5 AdWords/month</h3></div>
       <div class="panel-body">
        <p>Get all 3 below</p>
        <h3><button class='btn btn-primary'>Grow my business</button><small><s>$65</s>$49.95/month</small></h3>
       </div>
     </div>
   </div>
  </div>
  <div class='row deals'>
   <div class="col-md-4">
     <div class="panel panel-default">
       <div class="panel-heading"><h3>DeepInsight</h3></div>
       <div class="panel-body">
         Real-time Analytics.
         <p>Free for 14 days.</p>
         <h3 class='price'><button class='btn btn-primary'>Get Deep Insight</button> <small>for $39.95/month</small></h3>
       </div>
     </div>
   </div>
   <div class="col-md-4">
     <div class="panel panel-default">
       <div class="panel-heading"><h3>CustomerDragnet</h3></div>
       <div class="panel-body">
         <p>Notify nearby customers interested in your product
         Be "always on" and registered</p>
         <h3 class='price'><button class='btn btn-primary'>Get More Customers</button> <small>for $19.99/month</small></h3>
       </div>
     </div>
   </div>
   <div class="col-md-4">
     <div class="panel panel-default">
       <div class="panel-heading"><h3>AdWords</h3></div>
       <div class="panel-body">
         <p>Be the first result for customers within reach.
         Restrict them to the hours that you are in business.</p>
         <h3 class='price'><button class='btn btn-primary'>Sell More</button> starting at $1</h3>
       </div>
     </div>
   </div>
  </div>
</div>
