<div class="container">
  <div class='row header'>
    <div class="col-md-4 text-center"><img src='mockup/square_150.png' class="img-circle img-thumbnail"></div>
    <div class="col-md-8">
      <h2>Business Name</h2>
    </div>
    <div class="col-md-4 buttons">
      <div>
        <button type='button' class='btn btn-lg btn-link'><i class="fa fa-mobile"></i> Contact</button>
        <button type="button" class="btn btn-lg btn-link"><i class="fa fa-location-arrow"></i> Locate</button>
      </div>
      <div>
        <button type="button" class="btn btn-lg btn-link"><i class="fa fa-plus"></i>
           Follow</button>
        <div class='social'>
          <a><i class="fa fa-instagram"></i></a>
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-twitter"></i></a>
        </div>
        </button>
      </div>
    </div>
  </div>

  <div class='row content'>
    <div class="col-md-4">
      <img src='mockup/16x9_gray.png' class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <img src='mockup/16x9_gray.png' class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <img src='mockup/16x9_gray.png' class="img-thumbnail">
    </div>
  </div>
  <div class='row content'>
    <div class="col-md-4">
      <img src='mockup/16x9_gray.png' class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <img src='mockup/16x9_gray.png' class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <img src='mockup/16x9_gray.png' class="img-thumbnail">
    </div>
  </div>
</div>
